#container {
  height: 500px;
  width: 85%;
  background: #000000;
  margin: auto;
}

#prev, #nxt {
  height: 500px;
  width:140px;
  color:white;
  background-color: #777777;
  opacity: .5;
  visibility:hidden;
  line-height: 500px;
  cursor:pointer;
}
#prev {
  position: absolute;
}

#nxt {
  float: right;
}

#container:hover > #nxt, #container:hover > #prev{
  visibility: visible;
  transition-delay:.3s;
}

#images {
  list-style: none;
}

img {
  height: 500px;
  width: auto;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.hidden {
  display: none;
}
#wrapper {
  text-align: center;
}
#dots {
  list-style:none;
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 0;
}
#dots li {
  display:inline-block;
  border-radius:10px;
  width:10px;
  height:10px;
  margin: 450px 5px 0px 5px;
  background: white;
}