#container {
  height: 500px;
  width: 85%;
  background: #000000;
  margin: auto;
}

#prev, #nxt {
  height: 500px;
  width:100px;
  color:yellow;
  background-color: black;
  opacity: .5;
  visibility:hidden;
  line-height: 500px;
}
#prev {
  position: absolute;
}

#nxt {
  float: right;
}

#container:hover > #nxt, #container:hover > #prev{
  visibility: visible;
}

#images {
  list-style: none;
}

img {
  height: 500px;
  width: auto;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.hidden {
  display: none;
}